@font-face {
  font-family: "iconfont"; /* Project id 4625197 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1727779346584') format('woff2'),
       url('iconfont.woff?t=1727779346584') format('woff'),
       url('iconfont.ttf?t=1727779346584') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nginx:before {
  content: "\e63c";
}

.icon-webpack:before {
  content: "\e65b";
}

.icon-css:before {
  content: "\e61e";
}

.icon-yinle:before {
  content: "\e604";
}

.icon-weixin:before {
  content: "\e605";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-puker-1:before {
  content: "\e890";
}

.icon-dangao:before {
  content: "\101a0";
}

.icon-liebiao1:before {
  content: "\e603";
}

.icon-liebiao2:before {
  content: "\e65c";
}

.icon-liebiao21:before {
  content: "\e715";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-bofangicoyinlekongzhimianban:before {
  content: "\e61d";
}

.icon-xiayiquicoyinlekongzhimianban:before {
  content: "\e620";
}

.icon-shangyiquicoyinlekongzhimianban:before {
  content: "\e634";
}

.icon-tupian:before {
  content: "\e601";
}

.icon-tuodangonglue:before {
  content: "\e62a";
}

.icon-aiqing:before {
  content: "\e91e";
}

.icon-aixin1:before {
  content: "\e600";
}

